*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: rgb(105, 105, 105);
  background-color: rgb(255, 255, 255);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section__title {
  padding: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Alata", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.header {
  position: relative;
  height: 100vh;
  font-size: 3rem;
}
.header__company, .header__burger-btn {
  position: absolute;
  padding: 1em;
  z-index: 5;
  top: 3%;
}
.header__company {
  color: rgb(255, 255, 255);
}
.header__burger-btn {
  right: 2%;
}
.header__burger-icon {
  height: 26px;
}
.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  z-index: -5;
}
.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 1em;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  word-spacing: 100vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.nav__mobile {
  display: none;
}
.nav__mobile-link {
  padding: 0.5em 1em;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
}
.nav__desktop {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 40px;
  margin-top: 100px;
}
.about__desktop-img {
  display: none;
}
.about__info-text {
  font-size: 2rem;
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 3em 6em 3em;
}
.products .product__box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 30px;
  margin-bottom: 3em;
}
.products .product__box-item1 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-deep-earth.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 1/2;
}
.products .product__box-item2 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-night-arcade.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 2/3;
}
.products .product__box-item3 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-soccer-team.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 3/4;
}
.products .product__box-item4 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-grid.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 4/5;
}
.products .product__box-item5 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-from-above.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 5/6;
}
.products .product__box-item6 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-pocket-borealis.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 6/7;
}
.products .product__box-item7 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-curiosity.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 7/8;
}
.products .product__box-item8 {
  position: relative;
  height: 300px;
  background-image: url("../images/mobile/image-fisheye.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 8/9;
}
.products .product__box-title {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-family: "Alata", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.products__btn {
  position: absolute;
  bottom: 2em;
  white-space: nowrap;
  padding: 1em 2em;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header {
    height: 40vh;
  }
  .header__img {
    height: 40vh;
    background-image: url("../images/desktop/image-hero.jpg");
  }
  .header__text {
    top: 60%;
    left: 40%;
    word-spacing: normal;
  }
  .header__burger-btn {
    display: none;
  }
  .header__main-text {
    position: absolute;
    top: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .header__company {
    font-size: 2.4rem;
    grid-column: 1/2;
    padding: 0 1em;
  }
  .nav__desktop {
    display: inline;
    text-align: right;
    grid-column: 2/3;
    margin-right: 1.5em;
  }
  .nav__desktop-link {
    padding: 1em;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about {
    position: relative;
    top: 0;
    left: 0;
    padding: 4em;
  }
  .about__mobile-img {
    display: none;
  }
  .about__desktop-img {
    display: block;
    max-width: 700px;
  }
  .about__info {
    position: absolute;
    bottom: 4em;
    right: 4em;
    max-width: 40%;
    padding: 2em;
    text-align: start;
    background-color: rgb(255, 255, 255);
  }
  .about__info-text {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */